<footer>
    <h2>La cantina del Androide</h2>
    <div class="footerInfo">
      <div class="masInfo">
        <h3>Más información</h3>
        <h4>Creadores:</h4>
        <ol>
            <li>Daniela Baffaro</li>
            <li>Daniela De Lellis</li>
            <li>Marcos Caride</li>
        </ol>
      </div>
      <div class="contacto">
        <h3>¡Contactanos!</h3>
        <p>A. Siempreviva 742</p>
        <p>lacantinadelandroidex@gmail.com</p>
        <p>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter-square"></i>
        </p>
      </div>
    </div>

    <div class="copyright">
      <p> Copyright <i class="far fa-copyright"></i> 2021 Copyright Holder All Rights Reserved.</p>
    </div>
  </footer>

  <!--  <%- include('./partials/footer') %>  -->