<header>
    <div class="logo">
        <a href="/"><img width="60px" src="/imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
        <form action="/" method="POST">
          <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
          <button id="serachBttn"><i class="fas fa-search"></i></button>
        </form>
        <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
        <a href="/users"><i class="fas fa-user-circle"></i></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="categorias">Categorias</a>
        <a href="heroinas">Heroínas</a>
        <a href="blog">Blog</a>
        <a href="nosotros">Sobre Nosotros</a>
    </nav>
</header>

