<header>
    <div class="logo">
        <a href="/"><img width="60px" src="/imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
        <form action="/" method="POST">
          <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
          <button id="serachBttn"><i class="fas fa-search"></i></button>
        </form>
        <button class="menuButton"><i class="fas fa-bars"></i></button>
        <a href="Carrito" class="carrito"><i class="fas fa-shopping-cart"></i></a>
        <a href="/users" class="inicio-sesion"><i class="fas fa-user-circle"></i></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Categorias</button>
            <div class="dropdown-content">
              <a href="/categorias/Star Wars">Star Wars</a>
              <a href="/categorias/Los Simpsons">Los Simpsons</a>
              <a href="/categorias/Marvel">Marvel</a>
            </div>
          </div>
        <a href="heroinas">Heroínas</a>
        <a href="blog">Blog</a>
        <a href="nosotros">Sobre Nosotros</a>
    </nav>
</header>
