<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Cantina del Androide - Formulario Administrador</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img width="60px" src="imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
            <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
            <a href="Carrito"><i width: 30px class="fas fa-shopping-cart"></i></a>
            <a href="login"><i width: 30px class="fas fa-user-circle"></i></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="categorias">Categorias</a>
            <a href="heroinas">Heroínas</a>
            <a href="blog">Blog</a>
            <a href="nosotros">Sobre Nosotros</a>
        </nav>
    </header>

<h3>Formulario de carga y edición de productos</h3>
<main class="adminsitrator">
<form action="/" method="POST" id=administrator>
    <br>
    <div class="name">
      <label for="name">Nombre del Producto</label>
    <input type="text" name="name" id="name"> 
    </div>
    <br>

    <div class="description">
        <label for="description">Ingersar descripción del producto</label>
        <input type="text" name="description" type="description">
    </div>
    <br>

    <div class="category">
        <label for="category">Ingresar Categoria</label>
    <input type="text" name="category" id="category"> 
    <br>
    </div>
    <br>
    
    <div class="image">
        <label for="category"> Cargar Imagen</label>
        <input type="image" src="img_submit.jpg" alt="Submit">
        </div>
    <br>
    
    <div class="price">
        <label for="price">Ingresar Precio</label>
      <input type="number" name="price" id="price"> 
      </div>
      <br>

  <button type="submit" value="Submit">Submit</button>
  <button type="reset" value="Reset">Reset</button>
  <br>
</form>
</main>

<br>
<br>
<footer class="footer">
<section class="info-lacantina"> 
<h2>La cantina del Androide</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit delectus maxime. Est ea ex magnam modi mollitia exercitationem fugit minima, consequuntur, laudantium veritatis doloremque? Similique amet repellendus dolore doloribus!</p>
</section>>
<section class="mas-info">
  <h2>Más información</h2>
  <p><ol>
      <li>bla</li>
      <li>bla</li>
      <li>bla</li>
  </ol></p>
</section>
<section class="contactanos">
  <h2>¡Contactanos!</h2>
  <p>A. Siempreviva 742</p>
  <p>lacantinadelandroidex@gmail.com</p>
</section>
<section class="redes">
  <i class="fab fa-facebook"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-twitter-square"></i>
</section>      
  <p class="copyright">copyright</p>
  <i class="far fa-copyright"></i>
  </footer>
</body>
</html>
