<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

      <div class="titulo-section">
        <h2>Creación de Productos</h2>
      </div>
      <div class="register">
        
        <main class="register-form">
           <form action="/productDetail" method="POST" id=administrator enctype="multipart/form-data">
             <br>
             <div class="name">
               <label for="name">Nombre del Producto</label>
               <br>
               <input type="text" name="name" id="name"> 
             </div>
             <br>
   
             <div class="description">
               <label for="description">Ingersar descripción del producto</label>
               <br>
               <input type="text" name="description" type="description">
             </div>
               <br>
   
             <div class="category">
                 <label for="category">Ingresar Categoria</label>
                 <br>
                 <input type="text" name="category" id="category"> 
                 <br>
             </div>
             <br>
           
             <div class="image">
                 <label for="category"> Cargar Imagen</label>
                 <br>
                 <input type="file" alt="Submit" name="file">
             </div>
             <br>
           
             <div class="price">
                 <label for="price">Ingresar Precio</label>
                 <br>
                 <input type="number" name="price" id="price"> 
             </div>
             <br>
   
             <button type="submit" value="Submit">Submit</button>
             <button type="reset" value="Reset">Reset</button>
             <br>
           </form>
         </main>

      </div>

      <br>
      <br>
    <%- include('./partials/footer') %> 
  </body>
</html>
