<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

    <div class="titulo-section">
      <h2>Formulario del Administrador</h2>
    </div>
    
<form action="/" method="POST" id=administrator>
    <br>
    <div class="name">
      <label for="name">Nombre del Producto</label>
    <input type="text" name="name" id="name"> 
    </div>
    <br>

    <div class="description">
        <label for="description">Ingersar descripción del producto</label>
        <input type="text" name="description" type="description">
    </div>
    <br>

    <div class="category">
        <label for="category">Ingresar Categoria</label>
    <input type="text" name="category" id="category"> 
    <br>
    </div>
    <br>
    
    <div class="image">
        <label for="category"> Cargar Imagen</label>
        <input type="image" src="img_submit.jpg" alt="Submit">
        </div>
    <br>
    
    <div class="price">
        <label for="price">Ingresar Precio</label>
      <input type="number" name="price" id="price"> 
      </div>
      <br>

  <button type="submit" value="Submit">Submit</button>
  <button type="reset" value="Reset">Reset</button>
  <br>
</form>
</main>

<br>
<br>
<%- include('./partials/footer') %> 
</body>
</html>
