<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Cantina del Androide - Registrarse</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>
<header>
    ¿Que estás buscando?
<nav>
    <span>Tienda</span>
    <span>Blog</span>
    <span>Sobre nosotros</span>

<i class="fas fa-user-circle"></i>
<i class="fas fa-shopping-cart"></i>
</nav>
</header>

<h3>Registrarse</h3>

<div>Nombre y Apellido</div>

<div>Correo electrónico</div>
<div>Teléfono</div>
<div>Contraseña</div>
<div>Confirmar Contraseña</div>

<i class="far fa-square"></i> <i class="fas fa-sync-alt"></i>

<h2>Registrarse</h2>

<i class="far fa-square"></i> <div>Suscribirme al newsletter</div>



    <footer>
        <h2>La cantina del Androide</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit delectus maxime. Est ea ex magnam modi mollitia exercitationem fugit minima, consequuntur, laudantium veritatis doloremque? Similique amet repellendus dolore doloribus!</p>
        
        <h2>Más información</h2>
        <p><ol>
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
        </ol></p>
        
        <h2>¡Contactanos!</h2>
        <p>A. Siempreviva 742</p>
        <p>lacantinadelandroidex@gmail.com</p>
        
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-tiktok"></i>
        
        <p>copyright</p>
        <i class="far fa-copyright"></i>
        </footer>
        


</body>
</html>