<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Cantina del Androide - Registrarse</title>
     
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img width="60px" src="imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
            <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
            <a href="Carrito"><i width: 30px class="fas fa-shopping-cart"></i></a>
            <a href="login"><i width: 30px class="fas fa-user-circle"></i></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="categorias">Categorias</a>
            <a href="heroinas">Heroínas</a>
            <a href="blog">Blog</a>
            <a href="nosotros">Sobre Nosotros</a>
        </nav>
    </header>


<h1>Registrarse</h1>

<form>
    <label for="nombreapellido">Nombre y Apellido</label><br>
    <input type="text" id="nombreapellido" name="nombreapellido"><br>
    <label for="celectronico">Correo electrónico</label><br>
    <input type="text" id="celectronico" name="celectronico"><br>
    <label for="tel">Teléfono</label><br>
    <input type="text" id="tel" name="tel"><br>
    <label for="contraseña">Contraseña</label><br>
    <input type="text" id="contraseña" name="contraseña"><br>
    <label for="confcontraseña">Confirmar Contraseña</label><br>
    <input type="text" id="confcontraseña" name="confcontraseña"><br>
  </form>
  


<div>No soy un robot</div> <i width:30px class="far fa-square"></i> 
<i width:30px class="fas fa-sync-alt"></i>

<h2>Registrarse</h2>

<i class="far fa-square"></i> <div>Suscribirme al newsletter</div>

<div>Podés ingresar con tu cuenta de Google</div> <i class="fab fa-google-plus"></i>


    <footer>
        <h2>La cantina del Androide</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit delectus maxime. Est ea ex magnam modi mollitia exercitationem fugit minima, consequuntur, laudantium veritatis doloremque? Similique amet repellendus dolore doloribus!</p>
        
        <h2>Más información</h2>
        <p><ol>
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
        </ol></p>
        
        <h2>¡Contactanos!</h2>
        <p>A. Siempreviva 742</p>
        <p>lacantinadelandroidex@gmail.com</p>
        
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
        
        
        <p>copyright</p>
        <i class="far fa-copyright"></i>
        </footer>
        


</body>
</html>