<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Cantina del Androide - Registrarse</title>
     
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img width="60px" src="imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
            <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
            <a href="Carrito"><i width: 30px class="fas fa-shopping-cart"></i></a>
            <a href="login"><i width: 30px class="fas fa-user-circle"></i></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="categorias">Categorias</a>
            <a href="heroinas">Heroínas</a>
            <a href="blog">Blog</a>
            <a href="nosotros">Sobre Nosotros</a>
        </nav>
    </header>


    
      <div class="titulo-section">
        <h2>Registrarse</h2>
      </div>

      <div class="login">
<form action="/" method="POST" id=login>
    
    <label for="celectronico">Correo electrónico</label><br>
    <input type="text" id="celectronico" name="celectronico" required><br><br>
    <label for="contraseña">Contraseña</label><br>
    <input type="text" id="contraseña" name="contraseña" required><br>
 
    
</form>

<span><input type="checkbox" name="No soy un robot"></span><div>No soy un robot</div>
<span><i class="fas fa-sync-alt"></i><br></span>

 <button type="submit" form="login"><h3>Ingresar</h3></button><br><br>

 <div class="podes-ingresar-con-google">
  <label> Podes ingresar con tu cuenta de Google
      <button type="submit">
          <div class="google">
              <i class="fab fa-google">
                  <a href="https://www.google.com/"></a>
              </i>
          </div>
      </button>
  </label>   
</div>
</div><br>


<footer>
  <footer class="footer">
    <section class="info-lacantina"> 
  <h2>La cantina del Androide</h2>
  <div class="footerInfo">
    <div class="masInfo">
      <h4>Más información</h4>
      <ol>
          <li>bla</li>
          <li>bla</li>
          <li>bla</li>
      </ol>
    </div>
    <div class="contacto">
      <h4>¡Contactanos!</h4>
      <p>A. Siempreviva 742</p>
      <p>lacantinadelandroidex@gmail.com</p>
      <p>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
      </p>
    </div>
  </div>

  <div class="copyright">
    <p> Copyright <i class="far fa-copyright"></i> 2021 Copyright Holder All Rights Reserved.</p>
  </div>
</footer>


</body>
</html>