<!DOCTYPE html> 
<html lang="en"> 
  <%- include('./partials/head') %>
<body> 

  <%- include('./partials/header') %>     

      <div class="titulo-section"> 
        <h2>Carrito</h2> 
      </div> 
 
   <section class="contenedor-carrito"> 
   <span>Producto</span>  
   <span>Precio</span>  
    <span>Cantidad</span> 
    <span>Subtotal</span> 
 
    <div class="caja-producto"> 
      <p><a href="/"><img width="100px" src="imagenes/The-Simpsons-Homer-Muumuu-Funko-POP.jpg" alt=""></a></p> 
      <p>Información del producto</p> 
      <p>Precio</p> 
      <p>Cantidad</p> 
      <p>Subtotal</p> 
  </div><br> 
       
    <div class="caja-producto"> 
        <p><a href="/"><img width="100px" src="imagenes/LEGO-Star-Wars-75292-The-Mandalorian-Bounty-Hunter-Transport-The-Razor-Crest.jpg" alt=""></a></p> 
        <p>Información del producto</p> 
        <p>Precio</p> 
        <p>Cantidad</p> 
        <p>Subtotal</p> 
    </div><br> 
  </section> 
<div class="total-carrito">   
<h3>Total del Carrito</h3> 
<div>Subtotal - Precio</div> 
<span>Envío</span> 
<span><i class="fas fa-truck"></i></span><span>Calcular envío</span>  
<div>Total - Precio</div> 
</div>   
<br> 
<br> 
<%- include('./partials/footer') %> 
 
</body> 
</html>