<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Cantina del Androide - Carrito de Compras</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img width="60px" src="imagenes/LaCantinaDelAndroideLogo.png" alt=""></a>
            <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
            <a href="Carrito"><i width: 30px class="fas fa-shopping-cart"></i></a>
            <a href="login"><i width: 30px class="fas fa-user-circle"></i></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="categorias">Categorias</a>
            <a href="heroinas">Heroínas</a>
            <a href="blog">Blog</a>
            <a href="nosotros">Sobre Nosotros</a>
        </nav>
    </header>

    
      <div class="titulo-Section">
        <h2>Carrito</h2>
      </div>

   <span>Producto</span> 
   <span>Precio</span> 
    <span>Cantidad</span>
    <span>Subtotal</span>



    <div class="caja-producto">
        <span><a href="/"><img width="120px" src="imagenes/The-Simpsons-Mr.-Burns-Funko-POP.webp" alt=""></a></span>
        <span>informacion del producto</span>
        <span>precio</span>
        <span>cantidad</span>
        <span>subtotal</span>
    </div><br>
    
    <div class="caja-producto">
        <span><a href="/"><img width="120px" src="imagenes/LEGO-Star-Wars-75292-The-Mandalorian-Bounty-Hunter-Transport-The-Razor-Crest.jpg" alt=""></a></span>
        <span>informacion del producto</span>
        <span>precio</span>
        <span>cantidad</span>
        <span>subtotal</span>
    </div><br>

<h3>Total del Carrito</h3>

<div>Subtotal - Precio</div>
<span>Envío</span>
<span><i class="fas fa-truck"></i></span> <span>Calcular envío</span> 
<div>Total - Precio</div>

<footer>
    <h2>La cantina del Androide</h2>
    
    <div class="masInfo">
      <h4>Más información</h4>
      <ol>
          <li>bla</li>
          <li>bla</li>
          <li>bla</li>
      </ol>
    </div>
    <div class="contacto">
      <h4>¡Contactanos!</h4>
      <p>A. Siempreviva 742</p>
      <p>lacantinadelandroidex@gmail.com</p>
      <p>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
      </p>
    </div>
    <br>
    <div class="copyright">
      <p> Copyright <i class="far fa-copyright"></i> 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>