<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  </header>
  <section class="product-section">
    <div class="product-img">
        <img src="Imagenes/giratiempo-frontal.jpg" alt="imagen-giratiempo" width="300">
    </div>
    <section>
      <div class="product-name">
        <h4> Collar giratiempo </h3>
      </div>
      <div class="price">
        <p>$1200</p>
      </div>
      <div class="quantity-addtocart">
        <label for="quantity"></label>
        <input type="number" id="quantity" name="quantity" min="1" max="10">
        <button>
          <p>Añadir al carrito</p>
        </button>
      </div>
      <article class="delete-edit">
        <div class="delete-product">
          <button>
            <p>Borrar</p>
          </button>
        </div>  
        <div class="edit-product">
          <button>
            <p>Editar</p>
          </button>  
        </div>
      </article>
    </section>
    <div class="description">
      <p>
        ¡Collar giratiempo para volver en el tiempo y no cometer los mismos errores!
      </p>
    </div>
  </section>
  <h4 class="title">Productos relacionados</h4>
      <section class="related-products"> 
        <article class="flex-item">
          <img src="Imagenes/The-Simpsons-Homer-Muumuu-Funko-POP.jpg" alias="imagen producto" width="300" class="product-img">
          <p class="nombre-producto">FUNKO POP HOMERO HOME OFFICE</p>
          <p class="precio">$3000</p>
        </article>
        <br>
        <article class="flex-item">
          <img src="Imagenes/LEGO-Star-Wars-75292-The-Mandalorian-Bounty-Hunter-Transport-The-Razor-Crest.jpg" alias="imagen producto" width="300" height="300" class="product-img">
          <p class="nombre-producto">NAVE MANDALORIAN LEGO </p>
          <p class="precio">$3000</p>
        </article>
        <br>
        <article class="flex-item">
          <img src="Imagenes/Marvel-Captain-Marvel-Funko-POP.jpg" alias="imagen producto" width="300" class="product-img">
          <p class="nombre-producto">FUNKO POP CAPTAIN MARVEL</p>
          <p class="precio">$3000</p>
        </article>
        <article class="flex-item">
          <img src="Imagenes/Star-Wars-Sith-Trooper-Action-figure.jpeg" alias="imagen producto" width="300" class="product-img">
          <p class="nombre-producto">SITH TROOPER</p>
          <p class="precio">$3000</p>
        </article>
      </section>
      <%- include('./partials/footer') %> 
</body>
</html>

   