<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>La Cantina del Androide</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img width="60px" src="imagenes/LaCantinaDelAndroideLogo.png" alt="logo-androide"></a>
            <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
            <a href="Carrito"><i width: 30px class="fas fa-shopping-cart"></i></a>
            <a href="login"><i width: 30px class="fas fa-user-circle"></i></a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="categorias">Categorias</a>
            <a href="heroinas">Heroínas</a>
            <a href="blog">Blog</a>
            <a href="nosotros">Sobre Nosotros</a>
        </nav>
    </header>
    <main>
     <section class="section-producto">
     <article class="contenedor1"> 
      <article class="contenedor2"> 
        <img src="Imagenes/giratiempo-frontal.jpg" alt= "Giratiempo" width="100" class="fotoProducto2">
        <img src="Imagenes/giratiempo-leyenda.jpg" alt= "Giratiempo" width="100" class="fotoProducto3">
      </article> 
      <img src="Imagenes/giratiempo-varias.webp" alt= "Giratiempo" width="200" class="fotoProducto1">
     </article>  
     <br>
     <br>
      <article class="contenedor3">
        <article class="data1-producto">
      <h4 class="Nombre-producto"> Giratiempo </h4>
      <p> ¡Collar giratiempo para volver en el tiempo y no cometer los mismos errores!</p>
        </article>
        <article class="data2-producto">
      <p class="precio">$2500</p>
      <p class="cuotas">12 cuotas sin interés</p>
      <div class="cantidad"> 
        <!-- barra + - para sumar o sacar del carrito  -->
      </div>
      <button="submit"></button>
      <h5>Envíos a domicilio</h5><div class="envío-a-domicilio">
        <div class="camion">
          <i class="fas fa-truck"></i>
        </div> 
        <br>
      </div>
      <h5>Retiralo en nuestro local</h5>
      <div class="nuestro-local">
        <!-- icono + dirección + gratis -->
        <div class="local">
          <i class="fas fa-store"></i>
        </div>
      </div>
    </article>
    </article> 
    </section> 
    </main>
    <br>
    <br>
    <h4 class="titulo">Productos relacionados</h4>
      <section class="contenedor4"> 
        <article class="producto">
          <img src="Imagenes/The-Simpsons-Homer-Muumuu-Funko-POP.jpg" alias="imagen producto" width="300" class="product-img">
          <p class="nombre-producto">FUNKO POP HOMERO HOME OFFICE</p>
          <p class="precio">$3000/p>
        </article>
        <br>
        <article class="producto">
          <img src="Imagenes/LEGO-Star-Wars-75292-The-Mandalorian-Bounty-Hunter-Transport-The-Razor-Crest.jpg" alias="imagen producto" width="300" class="product-img">
          <p class="nombre-producto">LEGO </p>
          <p class="precio">$3000</p>
        </article>
      </section>
    <footer class="footer">
      <section class="info-lacantina"> 
      <h2>La cantina del Androide</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sit delectus maxime. Est ea ex magnam modi mollitia exercitationem fugit minima, consequuntur, laudantium veritatis doloremque? Similique amet repellendus dolore doloribus!</p>
      </section>>
      <section class="mas-info">
        <h2>Más información</h2>
        <p><ol>
            <li>bla</li>
            <li>bla</li>
            <li>bla</li>
        </ol></p>
      </section>
      <section class="contactanos">
        <h2>¡Contactanos!</h2>
        <p>A. Siempreviva 742</p>
        <p>lacantinadelandroidex@gmail.com</p>
      </section>
      <section class="redes">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
      </section>      
        <p class="copyright">copyright</p>
        <i class="far fa-copyright"></i>
        </footer>
</body>
</html>
  