<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
      <div class="titulo-section"> 
        <h2>Crea tu cuenta!</h2> 
      </div>
   <main class="register">
    <form action="/register" method="POST">
        <br>
        <div class="nombre-apellido">
          <label for="nombre">Nombre y apellido:</label>
        <input type="text" name="nombre-apellido" id="nombre-apellido"> 
        </div>
        <br>

        <div class="email">
            <label for="emaiL"> Email</label>
            <input type="email" name="email" type="email">
        </div>
        <br>

        <div class="domicilio">
            <label for="domicilio">Domicilio:</label>
        <input type="text" name="domicilio" id="domicilio"> 
        <br>
        </div>
        <br>

        <div class="telefono">
            <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono"> 
        </div>
        <br>

        <div class="fecha-nac">
            <h4>Fecha de nacimiento</h4>
            <label> Fecha de nacimiento
                <input type="date" name="fecha" value="2021-07-22" min="2018-01-01" max="2022-12-31">
            </label>
        </div>
        <br>

        <div class="foto-perfil">
            <label> <h4>Seleccioná tu foto de perfil </h4>
                <input type="file" name="avatar" accept=".jpg" multiple>
            </label>
        </div>
        <br>
        <div class="contraseña"> 
            <h4>Ingresá tu cotraseña</h4>
            <label for="contraseña">
                <input type="text" name="contraseña" id="contraseña">
            </label>
        </div>
        <br>
        <div class="confirmar-contraseña"> 
            <h4>Confirmá tu cotraseña</h4>
            <label for="confirmar-contraseña">
                <input type="text" name="confirmar-contraseña" id="confirmar-contraseña">
            </label>
        </div>
        <div class="no-soy-un-robot">
            <label> No soy un robot
                <input type="checkbox" name="no-soy-un-robot" value="no-soy-un-robot">
            </label>
        </div>
        <br>
        <div class="podes-ingresar-con-google">
            <label> 
                <p>Podes ingresar con tu cuenta de google</p>
                <button type="submit">
                    <div class="google">
                        <i class="fab fa-google"><a href="https://www.google.com/"></a></i>
                    </div>
                </button>
            </label>   
        </div>
        <br>
    </form>
   </main>
   <br>
   <br>
   <%- include('./partials/footer') %> 
</body>
</html>