body{
    background-color: black !important;
    margin: 0px;
    width: 360px;
}

header div{
    display: flex;
    margin: 5px 0;
    width: 350px;
    max-height: 60px;
    justify-content: space-between;
    align-items: center;
}

header p{
    color: blue;
}

nav{
    margin: 10px 0px 10px 0px;
    text-align: center;
    background-color:#303030;
    height: 30px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    margin-top: 6px;
    padding: 0 3.2px 0 3.2px;
    background-color: darkgray;
    color: aquamarine;
}

.carousel-caption h3{
    font-size: 15px;
}

.carousel-caption p{
    font-size: 10px;
}

.carousel-indicators li{
    background-color: gray !important;
}

.item{
    max-height: 180px;
}

#searchBar{
    width: 200px;
    height: 15px;
    text-align: center;
    margin: 22px 0 22px 5px;
    font-size: 8px;
}

#myCarousel{
    max-height: 200px;
}