<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<style>.destacados p{
    text-align: center;
    background-color: #00c2cb;
    display: inline-block;
    font-size: 30px;
    font-family: 'Russo One' sans-serif;
    padding: 10px;
    border-radius: 10px;
}
</style>
<body>
  <%- include('./partials/header') %>
    <br>
    <br>
    <section class="destacados" style=" text-align: center">
        <div class="titulo-Section">
          <!-- <img src="/Imagenes/Los SimpsonsBanner.jpg" style="width:80%; text-align: center;" alt=""> -->
          <h2>Error 404</h2>
        </div>
        <p>Pagina no encontrada o en Construccion</p>
    </section>

    <br>
    <br>

    <%- include('./partials/footer') %> 
    
</body>
</html>