<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <%- include('./partials/header-aboutUs') %>


    <!-- header con titulo y banner  -->
    <main class='creadores'>
      <h1> QUIÉNES SOMOS </h1>
      <div class='agos'>
        <div class='presentacion'>
          <h2 class='nombre'> AGOSTINA DI BELLO</h2>
          <p> 
            Tengo 23 años. Soy maquilladora profesional. 
            Actualmente estoy trabajando en un banco y estudiando con ustedes :)
            Me parece muy interesante y me vuela la cabeza la tecnología, después de esta cursada 
            voy a seguir otros cursos para enriquecer la cabeza con más, o directamente meterme en la carrera. 
            Me suelo aburrir bastante rápido, constántemente necesito ir más allá, por eso me copa este rubro, 
            ya que se actualiza todo el tiempo.  
          </p>
          <!-- <img src='' float=left> -->
        </div>
        <img src='./Imagenes/foto-perfil-Agos.jpg' alt='' width='30%' heigh='300px'>
      </div>
      <br>
      <div class='dani'>
        <img src='./Imagenes/foto-perfil-Dani.jpg' alt='' width='40%' height="400px">
        <div class='presentacion'>
          <h2 class='nombre'> DANIELA DE LELLIS </h2>
            <p> 
              Tengo 30 años, soy profe de música y guionista de cine. 
              Soy muy curiosa, me gusta mucho aprender cosas nuevas. 
              Si tengo un rato libre me tiro a leer un libro. 
              Fanática de Los Simpsons.
            </p>
        </div>
      </div>
      <br>
      <div class='marcos'>
        <div class='presentacion'>
          <h2 class='nombre'> MARCOS CARIDE </h2>
          <p> 
            Yo tengo 17 años, actualmente estoy estudiando el secundario en el Colegio Cardenal Newman. 
            Personalmente soy muy nerd, me gusta mucho la tecnologia en especial el armar computadoras, 
            al igual que soy un fan de Star Wars y de los videojuegos en general.
          </p>
        </div>
        <img src='./Imagenes/foto-perfil-Marcos1.jpg' alt='' width='35%'>
      </div>
      <br>
    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>


