<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <%- include('./partials/header-aboutUs') %>


    <!-- header con titulo y banner  -->
    <main class='creadores'>
      <h1> QUIÉNES SOMOS </h1>
      <div class='agos'>
        <div class='presentacion'>
          <h2 class='nombre'> AGOSTINA DI BELLO</h2>
          <p> 
            Tengo 23 años, soy maquilladora profesional. 
            Actualmente trabajo en un banco y estudio con uds.
            Me apasiona la tecnología, después de esta cursada voy hacer mas 
            cursos, o directamente meterme en la carrera. 
            Me aburro fácil, por eso me copa este rubro, porque se actualiza todo el tiempo.
 
          </p>
          <!-- <img src='' float=left> -->
        </div>
        <img src='./Imagenes/foto-perfil-Agos2.jpeg' alt='' width='30%'>
      </div>
      <br>
      <div class='dani'>
        <img src='./Imagenes/foto-perfil-Dani.jpg' alt='' width='30%'>
        <div class='presentacion'>
          <h2 class='nombre'> DANIELA DE LELLIS </h2>
            <p> 
              Tengo 30 años, soy profe de música y guionista de cine. 
              Soy muy curiosa, me gusta mucho aprender cosas nuevas. 
              Me apasiona la parte creativa de las cosas, inventar historias, melodías, estructuras. 
              Me gustaría mucho desarrollar aplicaciones musicales.
              Fanática de Los Simpsons. 
            </p>
        </div>
      </div>
      <br>
      <div class='marcos'>
        <div class='presentacion'>
          <h2 class='nombre'> MARCOS CARIDE </h2>
          <p> 
            Yo tengo 17 años, actualmente estoy estudiando el secundario en el Colegio Cardenal Newman. 
            Personalmente soy muy nerd, me gusta mucho la tecnologia en especial el armar computadoras, 
            al igual que soy un fan de Star Wars y de los videojuegos en general.
          </p>
        </div>
        <img src='./Imagenes/foto-perfil-Marcos3.jpeg' alt='' width='30%'>
      </div>
      <br>
    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>


