<footer>
    <h2>La cantina del Androide</h2>
    <div class="footerInfo">
      <div class="masInfo">
        <h3>Más información</h3>
        <h4>Creadores:</h4>
        <ol>
            <li><a href='https://github.com/Agosdb'>Agostina Di Bello </a></li>
            <li><a href='https://github.com/ddl440'></a>Daniela De Lellis</a></li>
            <li><a href='https://github.com/MarcosCaride'>Marcos Caride</a></li>
        </ol>
      </div>
      <div class="contacto">
        <h3>¡Contactanos!</h3>
        <p>A. Siempreviva 742</p>
        <p>lacantinadelandroide@gmail.com</p>
        <p>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter-square"></i>
        </p>
      </div>
    </div>

    <div class="copyright">
      <p> Copyright <i class="far fa-copyright"></i> 2021 Copyright Holder All Rights Reserved.</p>
    </div>
  </footer>

