<header>
    <div class="logo">
        <a href="/"><img width="60px" src="/Imagenes/LogoMarcos.png" alt=""></a>
        <form action="/" method="POST">
          <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
          <button id="searchBttn"><i class="fas fa-search"></i></button>
        </form>
        <a href="/Carrito" class="carritoE"><i class="fas fa-shopping-cart"></i></a>
        <a href="/users" class="inicio-sesion">
          <% if(imagenLogeado){ %> 
            <img  class="fas imgProfile" src="/Imagenes/Users/<%= imagenLogeado %>" alt="">
          <% }else{ %>
            <i class="fas fa-user-circle"></i>
          <% } %> 
        </a>
    </div>
    <nav class="desktopNavBar">
        <a href="/">HOME</a>
          <div class="dropdown">
            <div class="navCategorias">
              <button class="dropbtn">CATEGORÍAS</button>
            </div>
              <div class="dropdown-content">
                <a href="/categorias/1">Marvel</a>
                <a href="/categorias/2">Star Wars</a>
                <a href="/categorias/3">Los Simpsons</a>
                <a href="/categorias/4">Futurama</a>
                <a href="/categorias/5">Rick y Morty</a>
                <a href="/categorias/6">DC</a>
              </div>
            </div>
        <a href="/heroinas">HEROÍNAS</a>
        <a href="https://cantinadelandroide.blogspot.com">BLOG</a>
        <a href="/sobrenosotros">SOBRE NOSOTROS</a>
    </nav>
    <article class="burger">
      <i class="fas fa-bars menuButton"></i>
      <br>
      <section class="mobileNavBar">
        <nav>
          <ul>
            <li>
              <a href="/">HOME</a>
            </li>
            <li>
              <div class="dropdown">
                <div class="navCategorias">
                  <button class="dropbtn">CATEGORIAS</button>
                </div>
                  <div class="dropdown-content">
                    <a href="/categorias/1">Marvel</a>
                    <a href="/categorias/2">Star Wars</a>
                    <a href="/categorias/3">Los Simpsons</a>
                    <a href="/categorias/4">Futurama</a>
                    <a href="/categorias/5">Rick y Morty</a>
                    <a href="/categorias/6">DC</a>
                  </div>
              </div>
            </li>
            <li>
              <a href="/heroinas">HEROINAS</a>
            </li>
            <li>
              <a href="https://cantinadelandroide.blogspot.com">BLOG</a>
            </li>
            <li>
              <a href="/sobrenosotros">SOBRE NOSOTROS</a>
            </li>
            <li>
              <a href="/Carrito">Carrito</a>
            </li>
          </ul>
        </nav>
      </section>
    </article>
</header>
<br>
