<header>
    <div class="logo">
        <a href="/"><img width="60px" src="/imagenes/LogoMarcos.png" alt=""></a>
        <form action="/" method="POST">
          <input type="text" placeholder="¿Qué estas buscando?" id="searchBar">
          <button id="serachBttn"><i class="fas fa-search"></i></button>
        </form>
        <button class="menuButton"><i class="fas fa-bars"></i></button>
        <a href="/Carrito" class="carritoE"><i class="fas fa-shopping-cart"></i></a>
        <a href="/users" class="inicio-sesion"><i class="fas fa-user-circle"></i></a>
    </div>
    <nav>
        <a href="/">HOME</a>
          <div class="dropdown">
            <div class="navCategorias">
              <button class="dropbtn">CATEGORIAS</button>
            </div>
              <div class="dropdown-content">
                <a href="/categorias/1">Marvel</a>
                <a href="/categorias/2">Star Wars</a>
                <a href="/categorias/3">Los Simpsons</a>
              </div>
            </div>
        <a href="/heroinas">HEROINAS</a>
        <a href="/blog">BLOG</a>
        <a href="/sobrenosotros">SOBRE NOSOTROS</a>
    </nav>
</header>
